<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>Tsellpa : 관리자</title>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="col-lg-8">
                <div class="d-flex flex-column align-items-center justify-content-center right_side">
                    <h5 class="my-4" style="font-size:2.5em;font-weight:600;">회원정보</h5>

                    <div class="container px-5">
                        <table class="table table-bordered mx-3">
                            <colgroup>
                                <col style="width:20%;">
                                <col style="width:auto;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th class="text-center">이름</th>
                                <td>[[${member.name }]]</td>
                            </tr>
                            <tr>
                                <th class="text-center">아이디</th>
                                <td>[[${member.id }]]</td>
                            </tr>
                            <tr>
                                <th class="text-center">상태</th>
                                <td style="color: blue; font-weight: bold">[[${member.status }]]</td>
                            </tr>
                            <tr>
                                <th class="text-center">전화번호</th>
                                <td>[[${member.tel }]]</td>
                            </tr>
                            <tr>
                                <th class="text-center">이메일</th>
                                <td>[[${member.email }]]</td>
                            </tr>
                            <tr>
                                <th class="text-center">주소</th>
                                <td>[[${member.postcode }]] [[${member.addr1}]] [[${member.addr2}]]</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" onclick="eventremove()" class="btn btn-success px-3 py-2 my-4"> 탈퇴상태로 변경하기 </button>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>
    <script>
        function eventremove(){
        if(confirm("탈퇴 상태로 변경하시겠습니까?")){
        location.href="/member/remove?id=[[${member.id }]]"
    }
    }
</script>
</html>
