<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="/include/adminhead :: head"></th:block>
    <title>Tsellpa : 관리자</title>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <th:block th:replace="/include/adminheader :: header"></th:block>

        <div class="main-panel">
            <div class="content-wrapper">
                <h1>공지사항 등록</h1>
                <div class="card p-3">
                    <form th:action="@{/admin/noticeInsert}" name="fm" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label th:for="title">제목</label>
                            <input class="form-control" type="text" name="title" id="title" placeholder="title" required>
                        </div>
                        <div class="mb-3">
                            <label th:for="content">내용</label>
                            <textarea class="form-control textarea" name="content" id="content" rows="8" cols="100" maxlength="1400" required></textarea>
                            <!--                <script>-->
                            <!--                    $(document).ready(function() {-->
                            <!--                        $("#content").cleditor();-->
                            <!--                    });-->
                            <!--                </script>-->
                        </div>
                        <div class="mb-3">
                            <input type="hidden" name="author" placeholder="author" th:value="${mem.id}">
                        </div>
                        <div class="mb-3">
                            <label for="uploadFiles">파일 업로드(10MB 이하)</label>
                            <input class="form-control input" type="file" name="uploadFiles" id="uploadFiles" multiple="true">
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">보드 등록</button>
                            <button class="btn btn-info" type="button" onclick="reco()">자주쓰는 답변</button>
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
                </div>
            </footer>
        </div>
    </div>
</div>
</body>

</html>

