<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        th:fragment="header">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout1</title>
</head>
<body>

<header layout:fragment="header">
    <br>
    <br>
    <h2>Header랍니다.</h2>
</header>

<div layout:fragment="contents">
    <br>
    <br>
    <h2>Contents랍니다.</h2>
</div>

<footer layout:fragment="footer">
    <br>
    <br>
    <h2>footer랍니다</h2>
</footer>

<th:block layout:fragment="script">

</th:block>

</body>
</html>