<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="include/head :: head" ></th:block>
	<title>TSellpa::마이페이지</title>
</head>
<body class="myPage">
<th:block th:replace="include/header :: header" ></th:block>

<section class="dashboard section">
	<!-- Container Start -->
	<div class="container">
		<!-- Row Start -->
		<div class="row">
			<div class="col-lg-4">
				<th:block th:replace="include/mypageSide :: side" ></th:block>
			</div>

			<div class="col-lg-8">
				<table class="table table-bordered mx-3">
					<colgroup>
						<col style="width:20%;">
						<col style="width:auto;">
					</colgroup>
					<tbody>
					<tr>
						<th class="text-center">이름</th>
						<td>[[${member.name }]]</td>
					</tr>
					<tr>
						<th class="text-center">아이디</th>
						<td>[[${member.id }]]</td>
					</tr>
					<tr>
						<th class="text-center">비밀번호</th>
						<td>비밀번호 변경</td>
					</tr>
					<tr>
						<th class="text-center">전화번호</th>
						<td>[[${member.tel }]]</td>
					</tr>
					<tr>
						<th class="text-center">이메일</th>
						<td>[[${member.email }]]</td>
					</tr>
					<tr>
						<th class="text-center">주소</th>
						<td>[[${member.postcode }]] [[${member.addr1}]] [[${member.addr2}]]</td>
					</tr>
					<!--                                    <tr>-->
					<!--                                        <th class="text-center">생일</th>-->
					<!--                                        <td>${member.birth }</td>-->
					<!--                                    </tr>-->
					<!--                                    <tr>-->
					<!--                                        <th class="text-center">포인트</th>-->
					<!--                                        <td>${member.pt }</td>-->
					<!--                                    </tr>-->
					<!--                                    <tr>-->
					<!--                                        <th class="text-center">등급</th>-->
					<!--                                        <td>-->
					<!--                                            <c:choose>-->
					<!--                                                <c:when test="${member.grade == 1 }">선생님</c:when>-->
					<!--                                                <c:when test="${member.grade == 2 }">회원</c:when>-->
					<!--                                                <c:otherwise>관리자</c:otherwise>-->
					<!--                                            </c:choose>-->
					<!--                                            <c:if test="${member.grade == 2 }"> - -->
					<!--                                                <c:if test="${!canUpgrade }"><span style="color:var(&#45;&#45;main-color);">선생님 신청 진행 중</span></c:if>-->
					<!--                                                <c:if test="${canUpgrade }"><a href="${path }/user/mypageChangeGrade.do">선생님 신청하기</a></c:if>-->
					<!--                                            </c:if>-->
					<!--                                        </td>-->
					<!--                                    </tr>-->
					</tbody>
				</table>
			</div>
		</div>
		<!-- Row End -->
	</div>
	<!-- Container End -->
</section>

<th:block th:replace="include/footer :: footer" ></th:block>

</body>
</html>