.join_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.join_area .card {border-radius:15px;}
.join_area .no_check {color:red;}
.join_area .no_check {color:red;}
.join_area .info {font-size:12px;}
.join_area #msg {font-size:14px;}
.join_area.join #id {width:calc(100% - 150px);margin-right:10px;display:inline-block;vertical-align:top;}
.join_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.join_area #address1, .join_area #address2 {margin-bottom:5px;}
.join_area #postcode {width:160px;float:left;margin-right:20px;}
.join_area input::-webkit-input-placeholder {font-size:16px;}
.join_area input:-ms-input-placeholder {font-size:16px;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:400px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
